
@{
    ViewBag.Title = "RouteList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@ViewBag.RouteList
@ViewBag.CityList



<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->

<body class="header-fixed dark">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Web Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">
    <!-- CSS Global Compulsory -->
    @*<link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="~/assets/css/headers/header-default.css">
    
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/assets/plugins/animate.css">
    <link rel="stylesheet" href="~/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="~/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="~/assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">
    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/assets/css/custom.css">

    <div class="wrapper margin-top-70">

        <!--=== Breadcrumbs v3 ===-->
        <div class="breadcrumbs-v3 img-v1">
            <div class="container text-center">
                <p>Portfolio</p>
                <h1>Portfolio 3 Columns Grid Text</h1>
            </div><!--/end container-->
        </div>

       
        <!--=== End Breadcrumbs v3 ===-->
        <!--=== Cube-Portfdlio ===-->
        <div class="cube-portfolio container margin-bottom-60">
            <div class="content-xs">
                <div id="filters-container" class="cbp-l-filters-text content-xs">
                    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div> 

                    @foreach (LiveHistory.Models.CityModel element in ViewBag.CityList)
                    {
                        <div data-filter=".@Html.DisplayFor(m => element.Id)" class="cbp-filter-item cbp-filter-item"> @Html.DisplayFor(m => element.City_Name)  </div>  
                    }
                    
                    @*<div data-filter=".identity" class="cbp-filter-item"> Identity </div> |
                    <div data-filter=".web-design" class="cbp-filter-item"> Web Design </div> |
                    <div data-filter=".graphic" class="cbp-filter-item"> Graphic </div> |
                    <div data-filter=".logos" class="cbp-filter-item"> Logo </div>*@
                </div><!--/end Filters Container-->
            </div>

            <div id="grid-container" class="cbp-l-grid-agency">
            @foreach (LiveHistory.Models.RouteModel element in ViewBag.RouteList)
            {
                <div class="cbp-item @Html.DisplayFor(m => element.City_Id)">
                    <div class="cbp-caption margin-bottom-20">
                        <div class="cbp-caption-defaultWrap">
                            <img src="~/assets/img/main/img3.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <ul class="link-captions no-bottom-space">
                                        <li><a href="@Url.Action("RouteDetails", "RouteDetails", new { id =  element.Id })"><i class="rounded-x fa fa-link"></i></a></li>
                                        <li><a href="~/assets/img/main/img3.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-title-dark">
                        <div class="cbp-l-grid-agency-title">@Html.DisplayFor(m => element.Route_Name)</div>
                        <div class="cbp-l-grid-agency-desc">@Html.DisplayFor(m => element.Route_Name)</div>
                    </div>
                </div>
                }
                
            </div><!--/end Grid Container-->
        </div>
        <!--=== End Cube-Portfdlio ===-->
       
    </div><!--/wrapper-->
    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="~/assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="~/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="~/assets/plugins/smoothScroll.js"></script>
    <script type="text/javascript" src="~/assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <!-- JS Customization -->
    <script type="text/javascript" src="~/assets/js/custom.js"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="~/assets/js/app.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/cube-portfolio/cube-portfolio-3.js"></script>
    <script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
    </script>
    <!--[if lt IE 9]>
        <script src="~/assets/plugins/respond.js"></script>
        <script src="~/assets/plugins/html5shiv.js"></script>
        <script src="~/assets/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->
</body>
</html>